{% extends "_layout.html" %}
{% block content %}
<h1>Welcome to the Image Gallery</h1>
{% if current_user.is_authenticated %}

    {% for user in user_with_images %}

        <label for="username">{{user.username}}</label>
        <a class="btn btn-primary" href="{{url_for('users.user_profile',id=user.id)}}">View Profile</a><br>
        {% if user.profile_pic %}
        <img class="prof_pic" src="http://{{bucket_name}}.s3.amazonaws.com/{{user.profile_pic}}" alt="">
        {% else %}
        <img src="http://{{bucket_name}}.s3.amazonaws.com/no-image.png" alt="">
        {% endif %}
        
        <br>
        <hr>
        <div>
            {% if user.private %}
            <div>This User is Private</div>
            <img class= "img_gallery" src="http://{{bucket_name}}.s3.amazonaws.com/locked_profile.png" alt="">
            {% else %}
                {% for image in user.images %}
                    {% if image.img_name %}     
                        <img class= "img_gallery" src="http://{{bucket_name}}.s3.amazonaws.com/{{image.img_name}}" alt="">
                        <a href="{{ url_for('images.donation',id = image.id)}}"><button class="btn btn-warning">Donation</button></a>
                    {% endif %}
                <br>
                {% endfor %}
            {% endif %}
            <hr>
        </div>

    {% endfor %}







{% endif%}

{% endblock %}